html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

#banner-336x300, #banner-120x600, #banner-728x90 {
	width: 100%;
	display: block;
	text-align: center;
}

#banner-120x600 {
	height: 100%;
}

img {
	position: absolute;
	height: auto;
}

a {
	display: inline-block;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

h1 {
	font-family: 'Caveat Brush', cursive;
	color: #3281B2;
	margin: 0;
	font-weight: normal;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
	z-index: 10;
	position: relative;
}

h2 {
	font-family: 'Caveat Brush', cursive;
	color: #F26721;
	margin: 0;
	z-index: 10;
	font-weight: normal;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
	position: relative;
}

p {
	margin: 0 0 10px 0;
	color: #ffffff;
	padding: 0 15px;
	z-index: 10;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	position: relative;
}

span {
	display: inline-block;
	color: #ffffff;
	font-weight: bold;
	border-radius: 3px;
	padding: 0 15px;
	height: 35px;
	line-height: 35px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbb040+0,f7941d+100 */
	background: rgb(251,176,64); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(251,176,64,1) 0%, rgba(247,148,29,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(251,176,64,1) 0%,rgba(247,148,29,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(251,176,64,1) 0%,rgba(247,148,29,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbb040', endColorstr='#f7941d',GradientType=0 ); /* IE6-9 */
	z-index: 10;
}

#sky {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9adbf9+0,d0e9ef+100 */
	background: rgb(154,219,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(154,219,249,1) 0%, rgba(208,233,239,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(154,219,249,1) 0%,rgba(208,233,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(154,219,249,1) 0%,rgba(208,233,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9adbf9', endColorstr='#d0e9ef',GradientType=0 ); /* IE6-9 */
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 50%;
}

#sky:after {
	content: "";
	width: 100%;
	height: 20px;
	background: url(../img/water.svg) top center;
	background-size: 120% auto;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
}

#water {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f9ec2+0,1d7195+100 */
	background: rgb(31,158,194); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(31,158,194,1) 0%, rgba(29,113,149,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(31,158,194,1) 0%,rgba(29,113,149,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(31,158,194,1) 0%,rgba(29,113,149,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f9ec2', endColorstr='#1d7195',GradientType=0 ); /* IE6-9 */
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 50%;
}

#water:after {
	content: "";
	width: 100%;
	height: 20px;
	background: url(../img/sand.svg) top center;
	background-size: 120% auto;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
}

.bubble {
	background: rgba(255, 255, 255, 0.3);
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3);
	position: absolute;
	opacity: 0;
	z-index: 1;
}

#bubble1 {
	left: 20px;
	bottom: 0;
}

#bubble2 {
	left: 60px;
	bottom: 20px;
}

#bubble3 {
	left: 130px;
	bottom: 10px;
}

#bubble4 {
	left: 180px;
	bottom: 0;
}

#bubble5 {
	left: 240px;
	bottom: 5px;
}


/*336x300*/

#banner-336x300 #sun {
	top: 20px;
	left: 20px;
	width: 50px;
}

#banner-336x300 #cloud1 {
	top: 30px;
	right: 120px;
	width: 55px;
}

#banner-336x300 #cloud2 {
	top: 20px;
	right: 20px;
	width: 75px;
}

#banner-336x300 #fishman {
	bottom: -20px;
	right: 20px;
	width: 135px;
}

#banner-336x300 h1 {
	font-size: 34px;
	margin-top: 90px;
}

#banner-336x300 h2 {
	font-size: 30px;
}

#banner-336x300 #fish1 {
	bottom: 60px;
	left: 100px;
	width: 52px;
}

#banner-336x300 #fish2 {
	bottom: 40px;
	left: 15px;
	width: 66px;
}

#banner-336x300 #fish3 {
	bottom: 30px;
	left: 180px;
	width: 50px;
}

#banner-336x300 #alga {
	bottom: 15px;
	right: 15px;
	width: 70px;
}

#banner-336x300 p:first-child {
	font-size: 20px;
	margin-top: 30px;
}

/*728x90*/

#banner-728x90 #sky:after {
	height: 10px;
	background-size: auto 12px;
}

#banner-728x90 #water:after {
	height: 10px;
	background-size: auto 10px;
}

#banner-728x90 #sun {
	top: -40px;
	left: -40px;
	width: 80px;
}

#banner-728x90 #cloud1 {
	top: 15px;
	right: 145px;
	width: 55px;
}

#banner-728x90 #fishman {
	bottom: -15px;
	right: 20px;
	width: 90px;
}

#banner-728x90 h1, #banner-728x90 h2 {
	font-size: 30px;
	text-align: left;
	margin-left: 30px;
	display: inline-block;
	float: left;
	margin-top: 20px;
}

#banner-728x90 p {
	font-size: 14px;
	text-align: left;
	margin-left: 15px;
	margin-bottom: 0px;
}

#banner-728x90 p:first-of-type {
	font-size: 18px;
	margin-top: 10px;
}

#banner-728x90 #fish1 {
	bottom: 15px;
	right: 15px;
	width: 35px;
}

#banner-728x90 #fish2 {
	bottom: 30px;
	right: 140px;
	width: 45px;
}

#banner-728x90 #fish3 {
	bottom: 30px;
	right: 220px;
	width: 50px;
}

#banner-728x90 #alga {
	bottom: 5px;
	right: 55px;
	width: 50px;
}

#banner-728x90 span {
	bottom: 18px;
	left: 280px;
	position: absolute;
}

/*120x600*/

#banner-120x600 #sky:after {
	height: 10px;
	background-size: auto 12px;
}

#banner-120x600 #water:after {
	height: 10px;
	background-size: auto 10px;
}

#banner-120x600 #sun {
	top: -40px;
	left: -40px;
	width: 80px;
}

#banner-120x600 #cloud1 {
	top: 20px;
	right: 20px;
	width: 55px;
}

#banner-120x600 #fishman {
	bottom: -15px;
	right: 20px;
	width: 85px;
}

#banner-120x600 h1 {
	font-size: 20px;
	margin-top: 50px;
}

#banner-120x600 h1 b {
	font-size: 40px;
}

#banner-120x600 h2 {
	font-size: 24px;
	padding: 0 10px;
	margin-top: 10px;
}

#banner-120x600 p {
	font-size: 13px;
	padding: 0 10px;
	line-height: 1.2;
	margin-top: 15px;
}

#banner-120x600 p:first-of-type {
	font-size: 14px;
}

#banner-120x600 #fish1 {
	bottom: 25px;
	left: 5px;
	width: 52px;
}

#banner-120x600 #alga {
	bottom: 5px;
	right: 5px;
	width: 40px;
}

#banner-120x600 span {
	font-size: 11px;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
}

/*animations*/

#sun {
	animation: rotate 5s linear infinite;
	-webkit-animation: rotate 5s linear infinite;
	-moz-animation: rotate 5s linear infinite;
	-o-animation: rotate 5s linear infinite;
}

#bubble1 {
	transform: scale(0);
	animation: bubbles 5s linear infinite;
	-webkit-animation: bubbles 5s linear infinite;
	-moz-animation: bubbles 5s linear infinite;
	-o-animation: bubbles 5s linear infinite;
}

#bubble2 {
	transform: scale(0);
	animation: bubbles 10s linear infinite;
	-webkit-animation: bubbles 10s linear infinite;
	-moz-animation: bubbles 10s linear infinite;
	-o-animation: bubbles 10s linear infinite;
}

#bubble3 {
	transform: scale(0);
	animation: bubbles 6s linear infinite;
	-webkit-animation: bubbles 6s linear infinite;
	-moz-animation: bubbles 6s linear infinite;
	-o-animation: bubbles 6s linear infinite;
}

#bubble4 {
	transform: scale(0);
	animation: bubbles 12s linear infinite;
	-webkit-animation: bubbles 12s linear infinite;
	-moz-animation: bubbles 12s linear infinite;
	-o-animation: bubbles 12s linear infinite;
}

#bubble5 {
	transform: scale(0);
	animation: bubbles 3s linear infinite;
	-webkit-animation: bubbles 3s linear infinite;
	-moz-animation: bubbles 3s linear infinite;
	-o-animation: bubbles 3s linear infinite;
}

h1 {
	opacity: 0;
	animation: fadein 3s ease forwards;
	-webkit-animation: fadein 3s ease forwards;
	-moz-animation: fadein 3s ease forwards;
	-o-animation: fadein 3s ease forwards;
}

h2 {
	opacity: 0;
	animation: fadein 3s ease 0.5s forwards;
	-webkit-animation: fadein 3s ease 0.5s forwards;
	-moz-animation: fadein 3s ease 0.5s forwards;
	-o-animation: fadein 3s ease 0.5s forwards;
}

p {
	opacity: 0;
	animation: fadein 3s ease 2s forwards;
	-webkit-animation: fadein 3s ease 2s forwards;
	-moz-animation: fadein 3s ease 2s forwards;
	-o-animation: fadein 3s ease 2s forwards;
}

span {
	opacity: 0;
	animation: fadein 3s ease 2.5 s forwards;
	-webkit-animation: fadein 3s ease 2.5s forwards;
	-moz-animation: fadein 3s ease 2.5s forwards;
	-o-animation: fadein 3s ease 2.5s forwards;
}

#fishman {
	visibility: hidden;
	animation: slideinright 2s ease 1s forwards;
	-webkit-animation: slideinright 2s ease 1s forwards;
	-moz-animation: slideinright 2s ease 1s forwards;
	-o-animation: slideinright 2s ease 1s forwards;
}

#alga {
	opacity: 0;
	animation: scale 2s ease 3s forwards;
	-webkit-animation: scale 2s ease 3s forwards;
	-moz-animation: scale 2s ease 3s forwards;
	-o-animation: scale 2s ease 3s forwards;
}

#fish1 {
	animation: fish 5s ease infinite;
	-webkit-animation: fish 5s ease infinite;
	-moz-animation: fish 5s ease infinite;
	-o-animation: fish 5s ease infinite;
}

#fish2 {
	animation: fish 10s ease infinite;
	-webkit-animation: fish 10s ease infinite;
	-moz-animation: fish 10s ease infinite;
	-o-animation: fish 10s ease infinite;
}

#fish3 {
	animation: fish 7s ease infinite;
	-webkit-animation: fish 7s ease infinite;
	-moz-animation: fish 7s ease infinite;
	-o-animation: fish 7s ease infinite;
}

#banner-336x300, #banner-728x90 {
	position: absolute;
	height: 200%;
	animation: scene 7s ease 5s forwards;
	-webkit-animation: scene 7s ease 5s forwards;
	-moz-animation: scene 7s ease 5s forwards;;
	-o-animation: scene 7s ease 5s forwards;;
}

@keyframes scene {
	0%{ top: 0;}
	100%{ top: -100%;}
}

@keyframes fish {
	0%{ margin-bottom: 0; left: -50px;}
	50%{ margin-bottom: 30px; left: 50%;}
	100%{ margin-bottom: 0; left: 110%;}
}

@-webkit-keyframes fish {
	0%{ margin-bottom: 0; left: -50px;}
	50%{ margin-bottom: 30px; left: 50%;}
	100%{ margin-bottom: 0; left: 110%;}
}

@-moz-keyframes fish {
	0%{ margin-bottom: 0; left: -50px;}
	50%{ margin-bottom: 30px; left: 50%;}
	100%{ margin-bottom: 0; left: 110%;}
}

@-o-keyframes fish {
	0%{ margin-bottom: 0; left: -50px;}
	50%{ margin-bottom: 30px; left: 50%;}
	100%{ margin-bottom: 0; left: 110%;}
}

@keyframes scale {
	0%{ transform: scale(0); opacity: 0; bottom: -100px;}
	100%{ transform: scale(1); opacity: 1; bottom: 5px;}
}

@-webkit-keyframes scale {
	0%{ -webkit-transform: scale(0); opacity: 0; bottom: -100px;}
	100%{ -webkit-transform: scale(1); opacity: 1; bottom: 5px;}
}

@-moz-keyframes scale {
	0%{ -moz-transform: scale(0); opacity: 0; bottom: -100px;}
	100%{ -moz-transform: scale(1); opacity: 1; bottom: 5px;}
}

@-o-keyframes scale {
	0%{ -o-transform: scale(0); opacity: 0; bottom: -100px;}
	100%{ -o-transform: scale(1); opacity: 1; bottom: 5px;}
}

@keyframes slideinright {
	0%{ right: -200px; visibility: visible;}
	100%{ right: 20px; visibility: visible;}
}

@-webkit-keyframes slideinright {
	0%{ right: -200px; visibility: visible;}
	100%{ right: 20px; visibility: visible;}
}

@-moz-keyframes slideinright {
	0%{ right: -200px; visibility: visible;}
	100%{ right: 20px; visibility: visible;}
}

@-o-keyframes slideinright {
	0%{ right: -200px; visibility: visible;}
	100%{ right: 20px; visibility: visible;}
}

@keyframes fadein {
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}

@-webkit-keyframes fadein {
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}

@-moz-keyframes fadein {
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}

@-o-keyframes fadein {
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}

@keyframes bubbles {
	0%{ margin-left: 0px; bottom: 0; opacity: 0; transform: scale(0)}
	25%{ margin-left: 15px; bottom: 25%; opacity: 0.5;transform: scale(1)}
	50%{ margin-left: 0px; bottom: 50%; opacity: 1;transform: scale(1)}
	75%{ margin-left: 15px; bottom: 75%; opacity: 1;transform: scale(1)}
	100%{ margin-left: 0px; bottom: 100%; opacity: 0; transform: scale(0)}
}

@-webkit-keyframes bubbles {
	0%{ margin-left: 0px; bottom: 0; opacity: 0; -webkit-transform: scale(0)}
	25%{ margin-left: 15px; bottom: 25%; opacity: 0.5; -webkit-transform: scale(1)}
	50%{ margin-left: 0px; bottom: 50%; opacity: 1; -webkit-transform: scale(1)}
	75%{ margin-left: 15px; bottom: 75%; opacity: 1;transform: scale(1)}
	100%{ margin-left: 0px; bottom: 100%; opacity: 0; -webkit-transform: scale(0)}
}

@-moz-keyframes bubbles {
	0%{ margin-left: 0px; bottom: 0; opacity: 0; -moz-transform: scale(0)}
	25%{ margin-left: 15px; bottom: 25%; opacity: 0.5; -moz-transform: scale(1)}
	50%{ margin-left: 0px; bottom: 50%; opacity: 1; -moz-transform: scale(1)}
	75%{ margin-left: 15px; bottom: 75%; opacity: 1;transform: scale(1)}
	100%{ margin-left: 0px; bottom: 100%; opacity: 0; -moz-transform: scale(0)}
}

@-o-keyframes bubbles {
	0%{ margin-left: 0px; bottom: 0; opacity: 0; -o-transform: scale(0)}
	25%{ margin-left: 15px; bottom: 25%; opacity: 0.5; -o-transform: scale(1)}
	50%{ margin-left: 0px; bottom: 50%; opacity: 1; -o-transform: scale(1)}
	75%{ margin-left: 15px; bottom: 75%; opacity: 1; -o-transform: scale(1)}
	100%{ margin-left: 0px; bottom: 100%; opacity: 0; -o-transform: scale(0)}
}

@keyframes rotate {
	from{ transform: rotate(0deg);}
	to{ transform: rotate(360deg);}
}

@-webkit-keyframes rotate {
	from{ -webkit-transform: rotate(0deg);}
	to{ -webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
	from{ -moz-transform: rotate(0deg);}
	to{ -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate {
	from{ -o-transform: rotate(0deg);}
	to{ -o-transform: rotate(360deg);}
}